{% extends "books/base.html" %}
{% load static %}


{% block content %}
    <div class="book-list">
        <h2> Available Books</h2>
        {% for book in books %}
            <br> <br> <br>
            <a href="{% url 'bookdetail' id=book.id%}">
                <img src="{{ book.image.url }}"/><br>
                Name: {{ book.name }} <br>
                Price : ₹ {{ book.price }}<br>
                {% if is_librarian == True %}
                    Available Stock : {{ book.stock }}<br>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% endblock %}